---
import MainLayout from "@/layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";
export const prerender = true;

interface HistoriaEntry {
  Historia: string;
}
interface City {
  name: string;
}

export const getStaticPaths = (async () => {
  // Cargar el archivo historia.json
  const historiaData = {
    Santiago: {
      "1818": {
        Historia:
          "El 12 de febrero de 1818, se firmó la Declaración de Independencia de Chile en Santiago, proclamando la soberanía del país.",
      },
      "1962": {
        Historia:
          "Chile fue sede de la Copa Mundial de Fútbol en 1962, con partidos clave celebrados en Santiago.",
      },
      "2023": {
        Historia:
          "Santiago fue el epicentro de importantes movilizaciones por los derechos sociales y políticos en Chile.",
      },
    },
    Valparaíso: {
      "1906": {
        Historia:
          "El devastador terremoto de Valparaíso en 1906 destruyó gran parte de la ciudad y causó miles de muertes.",
      },
      "1970": {
        Historia:
          "Valparaíso se convirtió en un importante centro cultural y artístico, con la fundación del Museo a Cielo Abierto.",
      },
      "2014": {
        Historia:
          "Un gran incendio arrasó la ciudad, dejando miles de damnificados y destruyendo cientos de viviendas en los cerros.",
      },
    },
    Concepción: {
      "1835": {
        Historia:
          "Un terremoto masivo golpeó Concepción en 1835, registrado por Charles Darwin durante su viaje en el HMS Beagle.",
      },
      "1960": {
        Historia:
          "El terremoto de Valdivia en 1960, el más fuerte registrado en la historia, afectó gravemente a Concepción.",
      },
      "2010": {
        Historia:
          "Concepción fue uno de los epicentros del terremoto y tsunami de Chile en 2010, causando daños significativos.",
      },
    },
    "Viña del Mar": {
      "1930": {
        Historia:
          "El Casino Municipal de Viña del Mar fue inaugurado en 1930, convirtiéndose en un ícono turístico de la ciudad.",
      },
      "1959": {
        Historia:
          "Se celebró la primera edición del Festival Internacional de la Canción de Viña del Mar, el evento musical más importante de América Latina.",
      },
      "2022": {
        Historia:
          "Viña del Mar fue uno de los centros turísticos más visitados durante la pandemia, por sus amplios espacios abiertos.",
      },
    },
    "La Serena": {
      "1544": {
        Historia:
          "Fundación de La Serena, una de las ciudades más antiguas de Chile, como punto de paso para las rutas del interior.",
      },
      "1946": {
        Historia:
          "Un terremoto de magnitud 8,6 sacudió La Serena, provocando grandes daños en la infraestructura de la ciudad.",
      },
      "2020": {
        Historia:
          "La Serena fue un punto clave para la observación del eclipse solar total de 2020.",
      },
    },
    Antofagasta: {
      "1879": {
        Historia:
          "Antofagasta fue ocupada por tropas chilenas al inicio de la Guerra del Pacífico entre Chile, Bolivia y Perú.",
      },
      "1905": {
        Historia:
          "La construcción del Ferrocarril Antofagasta-Bolivia ayudó al crecimiento económico de la ciudad como puerto.",
      },
      "2019": {
        Historia:
          "Antofagasta fue una de las ciudades más activas durante el estallido social en Chile, con protestas masivas.",
      },
    },
    Temuco: {
      "1881": {
        Historia:
          "Temuco fue fundada como una fortaleza durante la ocupación de La Araucanía, en un intento de pacificar la región.",
      },
      "1927": {
        Historia:
          "Se inauguró el Mercado Municipal de Temuco, que se convirtió en un importante centro cultural y gastronómico.",
      },
      "2018": {
        Historia:
          "Temuco fue sede de los Juegos de La Araucanía, un evento deportivo que reúne a jóvenes atletas del sur de Chile y Argentina.",
      },
    },
    Iquique: {
      "1879": {
        Historia:
          "La Batalla Naval de Iquique, uno de los eventos más importantes de la Guerra del Pacífico, tuvo lugar frente a sus costas.",
      },
      "1907": {
        Historia:
          "La Matanza de la Escuela Santa María en Iquique dejó un trágico saldo de trabajadores asesinados durante una huelga salitrera.",
      },
      "2023": {
        Historia:
          "Iquique sigue siendo un puerto importante para el comercio internacional, con una creciente industria turística.",
      },
    },
    "Puerto Montt": {
      "1853": {
        Historia:
          "Fundación de Puerto Montt como una colonia alemana, lo que marcó el inicio de la colonización del sur de Chile.",
      },
      "1960": {
        Historia:
          "El terremoto de Valdivia de 1960, el más fuerte registrado en la historia, afectó gravemente a la ciudad.",
      },
      "2021": {
        Historia:
          "Puerto Montt se consolidó como un importante centro de la industria salmonera en Chile, exportando a todo el mundo.",
      },
    },
    Arica: {
      "1868": {
        Historia:
          "Arica sufrió un terremoto y tsunami en 1868 que destruyó gran parte de la ciudad y dejó miles de muertos.",
      },
      "1880": {
        Historia:
          "La ciudad fue escenario de la Batalla de Arica, donde las tropas chilenas tomaron el control de la ciudad durante la Guerra del Pacífico.",
      },
      "2022": {
        Historia:
          "Arica fue nombrada Capital de la Cultura del Desierto por su historia milenaria y su riqueza arqueológica.",
      },
    },
  };

  // Obtener las ciudades del archivo historia.json
  const ciudadesDisponibles = Object.keys(historiaData);

  console.log(ciudadesDisponibles);

  // Consultar la API de GeoNames
  const results = await fetch(
    `https://geonames-proxy.destyght-dev.workers.dev/searchJSON?country=CL&featureClass=P&maxRows=50&orderby=population`
  );
  const { geonames } = await results.json();

  // Filtrar las ciudades que están en historia.json
  const filteredCities = geonames.filter((city: City) =>
    ciudadesDisponibles.includes(city.name)
  );

  return filteredCities.map((city: City) => ({
    params: {
      ciudad: city.name,
    },
    props: {
      historia: historiaData[city.name as keyof typeof historiaData] || null,
    },
    fallback: false,
  }));
}) satisfies GetStaticPaths;

const { ciudad } = Astro.params;
const { historia } = Astro.props as Record<string, HistoriaEntry>;
---

<MainLayout>
  <h1 class="text-4xl mt-5 text-blue-800 font-bold">{ciudad}</h1>

  <ul class="timeline mt-5 space-y-4">
    {
      Object.entries(historia).map(([year, entry]) => (
        <li class="flex items-center space-x-4">
          <span class="text-lg font-bold text-emerald-400">{year}</span>
          <span class="text-white">{entry.Historia}</span>
        </li>
      ))
    }
  </ul>
</MainLayout>

<style>
  .timeline {
    list-style: none;
    padding: 0;
  }

  .timeline li {
    display: flex;
    align-items: center;
    border-left: 2px solid #3182ce;
    padding-left: 1rem;
    position: relative;
  }

  .timeline li::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3182ce;
    position: absolute;
    left: -6px;
  }
</style>
