---
import MainLayout from "@/layouts/MainLayout.astro";
import Map from "@/components/Map.jsx";
---

<MainLayout>
  <h1 class="text-4xl text-center border-b-2 border-red-600 pb-1 mb-5">
    Chrono Map de Chile
  </h1>
  <Map client:only="react" />
</MainLayout>
